@use 'config/reset';
@use 'config/variables' as *;

body {
  color: $text-color;
  background-color: $background-color;
}

.container {
  max-width: $breakpoint;
  width: 100%;
  margin: auto auto;
  margin-top: 4em;
}

h1 {
  color: $text-color;
  margin-bottom: 0.5em;
}

h2 {
  cursor: pointer;
}

form {
  .input-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;

    input {
      padding: 0.5em;
      border: solid 1px $input-border-color;
      border-radius: 8px;
    }
  }

  button {
    background-color: $primary-color;
    color: $text-color;
    padding: 0.8em;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 1.0em;
    font-weight: bold;
  }
}

.users {
  display: flex;
  flex-direction: column;
  margin: 3em 0;
  padding: 0.5em;
  background-color: #dfe7e4;
  border-radius: 8px;

  &__content {
    display: none;
  }

  &__data  {
    /*&:first-child {
      border-radius: 8px 8px 0 0;
    }

    &:last-child {
      border-radius: 8px 8px 0 0;
    }*/

    ul {
      &:nth-child(odd) {
        background-color: #ff99b3;
      }

      &:nth-child(even) {
        background-color: #ddc5e7;
      }
    }
  }

  &__headers, &__data {
    ul {
      display: grid;
      grid-template-columns: 10% 30% 30% 10% 20%;
      align-items: center;
      padding: 0 0.5em;
      margin: 0 0.2em;

      li {
        list-style: none;
        padding: 0.5em 0;
      }
    }

    &__password {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__actions {
      display: inline-flex;
      justify-content: end;

      .fa-trash {
        background-color: $red-button-color;
        color: #fff;
        padding: 0.5em;
        border-radius: 8px;
      }
    }
  }
}

.logout {
  background-color: $red-button-color;
  color: #fff;
  border-radius: 8px;
  padding: 1em;
}
